In [1]:
from darsie_scrape import scrape_result,update_data
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.sql import select, text
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
import pandas as pd
from datetime import datetime

WARNING:root:OSError while attempting to symlink the latest log directory

c:\Users\Josias Gomez\Desktop\airflow_docker\airflow_env_\Lib\site-packages\airflow\models\base.py:49 MovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)

In [2]:
datetime.now()

datetime.datetime(2023, 2, 20, 14, 14, 0, 698264)

In [2]:
import re
from darsie_process import transform_data, get_values, upload_data_temp
from darsie_load import load_data

In [2]:
update = update_data()

todo okay

In [3]:
update

(840, None)

In [3]:
engine = create_engine('postgresql://postgres:Jo39go525124@localhost/airflow')
#cur = engine.cursor()
#cur.execute("""CREATE TABLE IF NOT EXIST step_1(
#                id BIGSERIAL NOT NULL PRIMARY KEY,
#                prod VARCHAR(70) NOT NULL,
#                price FLOAT NOT NULL) 
#            """)

In [3]:
#cur = conn.cursor()
#cur.execute("""CREATE TABLE IF NOT EXIST step_1(
#                    id BIGSERIAL NOT NULL PRIMARY KEY,
#                prod VARCHAR(70) NOT NULL,
#                price FLOAT NOT NULL); 
#            """)
df = scrape_result()

In [6]:
df.head()

                               nombre  precio
0   Ladrillo Portante 12x19x33 Palmar  210.33
1  Ladrillo Portante 18x19 X33 Palmar  250.52
2                      Ladrillo Comun   35.13
3    Ladrillo Tabique 12x18x33 Palmar  163.39
4     Ladrillo Tabique 8x18x33 Palmar  131.73

In [7]:
df.to_sql('step_1',engine, if_exists='replace',index=True)
print('todo okay')

todo okay

In [100]:
Session = sessionmaker(bind=engine)
session = Session()

In [25]:
metadata_obj = MetaData()
step_1 = Table('step_1',metadata_obj,
               Column('id',primary_key=True),
               Column('nombre'),
               Column('precio'),
               Column('fecha_carga'))

In [101]:
s = text(
    "SELECT * FROM step_1 LIMIT(10)"
)

engine.execute(s).fetchall()

df_sql = pd.read_sql_query("SELECT * FROM step_1",engine)
df_sql

,index,nombre,precio,fecha_carga
0,0,Ladrillo Portante 12x19x33 Palmar,210.33,2023-02-05 19:40:05.372519
1,1,Ladrillo Portante 18x19 X33 Palmar,250.52,2023-02-05 19:40:05.372519
2,2,Ladrillo Comun,35.13,2023-02-05 19:40:05.372519
3,3,Ladrillo Tabique 12x18x33 Palmar,163.39,2023-02-05 19:40:05.372519
4,4,Ladrillo Tabique 8x18x33 Palmar,131.73,2023-02-05 19:40:05.372519
...,...,...,...,...
223,223,Cemento Portland Avellaneda 50 Kg,1889.34,2023-02-05 19:40:05.372519
224,224,Ladrillo Losa 11x25x38 Palmar,282.17,2023-02-05 19:40:05.372519
225,225,Block Hc P13 13x20x40,152.80,2023-02-05 19:40:05.372519
226,226,Ladrillo Tabique 18x18x33 Palmar,209.16,2023-02-05 19:40:05.372519
227,227,"Ladrillo Losa 16,5x25x40 Palmar",409.62,2023-02-05 19:40:05.372519

In [22]:
result

()

In [3]:
df = transform_data()
df

                                    max         mean      min
categoria unidadMedida medida
barra     mm           noValue  1202.61  1202.610000  1202.61
block     unidad       noValue   152.80   152.800000   152.80
cemento   kg           50       1889.34  1889.340000  1889.34
ladrillo  unidad       noValue   409.62   191.908889    35.13

In [3]:
df = scrape_result()
df

,nombre,precio,fecha_ext,fuente
0,Ladrillo Portante 12x19x33 Palmar,210.33,2023-02-06 08:53:28.692457,darsie
1,Ladrillo Portante 18x19 X33 Palmar,250.52,2023-02-06 08:53:28.692457,darsie
2,Ladrillo Comun,35.13,2023-02-06 08:53:28.692457,darsie
3,Ladrillo Tabique 12x18x33 Palmar,163.39,2023-02-06 08:53:28.692457,darsie
4,Ladrillo Tabique 8x18x33 Palmar,131.73,2023-02-06 08:53:28.692457,darsie
...,...,...,...,...
3871,Termotanque 120l Gas Natural Pie Superior Rheem,125237.41,2023-02-06 09:01:05.769346,darsie
3872,"Canilla Esferica Met 1/2"" ...",902.45,2023-02-06 09:01:05.769346,darsie
3873,Calefon 14l Gas Envasado Automatico Posterior ...,132339.42,2023-02-06 09:01:05.769346,darsie
3874,Termotanque 80l Multigas Superior Ormay,67917.81,2023-02-06 09:01:05.769346,darsie
3875,Calefactor 3000cal. Tiro Balanceado Gas Natura...,38958.09,2023-02-06 09:01:05.769346,darsie

In [4]:
engine = create_engine('postgresql://postgres:Jo39go525124@localhost/airflow')
df.to_sql('step_1',engine, if_exists='replace',index=True)
print('todo okay')

todo okay

In [8]:
df,engine = transform_data()
df.to_sql('precios_table',engine,if_exists='append')

876

In [3]:
upload_data_temp()

876

In [5]:
load_data()

In [4]:
update_data()

todo okay
carga completa